/*::-webkit-scrollbar{width:2px;height:2px;}*/
/*::-webkit-scrollbar-button{width:2px;height:2px;}*/

.Popular {
    position: relative;
    /*float: left;*/
    
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    
    width: inherit;
    
    margin-top: 0px;
    left: 0px;
    
}

.SlideShow {
    /*content: "";*/
    /*clear: both;*/
    display: table;
    /*float: left;*/
    display: inline-block;
    /*vertical-align: central;*/
    padding: 3px;

}

.Popular img {
    object-fit: cover;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 15px;
}

h2 {
    position: fixed;
    font-size: 11px;
    margin-top: 0px;
    
}

.Popular h3 {
    font-size: 9px;
    margin-top: 0px;
    margin-left: 1px;
    margin-bottom: 0px;
}

h5 {
    margin-top: 3px;
    position: relative;
    font-size: 8px;
    /*color: SlateGrey;*/
    opacity: 0.7;
    
}

.first {
    float: left;
    margin-left: 1px;
}