.UpperBar {
    margin-bottom: 7px;
    width: inherit;
    
}

#home {
    font-size: 10px;
    float: left;
    cursor: pointer;
    
}

#search {
    width: 11px;
    height: 11px;
    float: right;
    cursor: pointer;
    
}